.btn-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  color: red;
}
