.description {
  margin: 0 5rem;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}

.description-paragraph,
li {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

.description-h2 {
  color: rgb(237 61 35);
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.description-img {
  max-width: 100%;
  border-radius: 10px;
}
